@model Author

<div class="modal-header">
    <h5 class="modal-title">Author Details</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="mb-3">
        <strong>Id:</strong>
        <span>@Model.Id</span>
    </div>
    <div class="mb-0">
        <strong>Full Name:</strong>
        <span>@Model.FullName</span>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>
