@model Author

@{
    ViewData["Title"] = "Create Author";
}

<div class="page-header">
    <h3 class="page-title">Create Author</h3>
</div>

<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">

                <form asp-action="Create" asp-area="Manage" method="post">

                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        <label asp-for="FullName"></label>
                        <input asp-for="FullName" class="form-control"/>
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-primary mt-3">
                        Create
                    </button>

                    <a asp-action="Index" class="btn btn-light mt-3">
                        Cancel
                    </a>

                </form>

            </div>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}